@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

#waybar {
    background: transparent;
    color: #c6cdd5;
    background-color: #0d1117;
    font-family: FiraCode Nerd Font;
    font-size: 12px;
}

#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
    padding:0.5rem 0.6rem;
    margin: 1px 0px;
}

#clock {
    color: #cea5fb;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #7ce38b;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #89929b;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#mode {
    background: #0d1117;
    border-bottom: 3px transparent;
    color: #c6cdd5;
    margin-left: 5px;
    padding: 7px;
}

#network.disconnected {
    color: #fa7970;
}

#network.connected {
    color: #faa356;
}

#pulseaudio {
    padding-top:6px;
    color: #77bdfb;
}

#pulseaudio.muted {
    color: #fa7970;
}

#temperature.critical {
    color: red;
}

#window {
    font-weight: bold;
    color: #a2d2fb;
}

#workspaces {
    font-size:13px;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    padding:0px;
    color: #89929b;
}

#workspaces button.active {
    border-bottom: 3px solid  #b0bac9;
    margin-bottom: 1px;
    padding-left:0;
    color: #c6cdd5;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-power {
    margin-left:15px;
    margin-right:15px;
    font-size:15px;
}

#custom-launcher {
    font-size:15px;
    margin-left:15px;
    margin-right:10px;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}
